<header>
  <section class="header-contact">
    <div class="contact-container">
      <div class="contact-container__item contact_label">
        <p>Contáctanos</p>
      </div>
      <div class="contact-container__item">
        <p>+51 999 999 999</p>
      </div>
      <div class="contact-container__item">
        <p>example@example.com</p>
      </div>
    </div>
    <div class="anchor-container">
      <div class="anchor-container__item">
        <a href="#">Blog</a>
      </div>
      <div class="anchor-container__item">
        <a href="#">Acerca de</a>
      </div>
    </div>
  </section>
  <shared-divider></shared-divider>
  <section class="header-main">
    <div class="logo-container">
      <img src="assets/images/logo.svg" alt="Logo" />
    </div>
    <div class="search-component">
      <shared-search-box></shared-search-box>
    </div>
    <div class="actions-container">
      <div class="user-container">
        <button class="btn-menu-header user-icon">
          <img src="assets/images/icons/icon-user.svg" alt="User icon" />
        </button>

        <div class="shared-menu">
          <div class="menu">
            <div
              class="menu__item"
              [routerLink]="['/auth/login']"
              routerLinkActive="router-link-active"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-login.svg"
                alt="Iniciar sesión"
              />
              <p>Iniciar Sesión</p>
            </div>
            <shared-divider></shared-divider>
            <div
              class="menu__item"
              [routerLink]="['/auth/register']"
              routerLinkActive="router-link-active"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-user.svg"
                alt=""
              />
              <p>Registrarme</p>
            </div>
            <shared-divider></shared-divider>
            <div
              class="menu__item"
              [routerLink]="['/auth/profile']"
              routerLinkActive="router-link-active"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-profile.svg"
                alt=""
              />
              <p>Mi Perfil</p>
            </div>
            <shared-divider></shared-divider>
            <div
              class="menu__item"
              (click)="onLogout()"
              (keyup.enter)="onLogout()"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-logout.svg"
                alt=""
              />
              <p>Cerrar Sesión</p>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-container">
        <button class="btn-menu-header cart-icon">
          <img src="assets/images/icons/icon-cart.svg" alt="Cart icon" />
        </button>
        <div class="shared-menu">
          <div class="menu">
            <div
              class="menu__item"
              (keyup.enter)="openCart()"
              (click)="openCart()"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-in-cart.svg"
                alt=""
              />
              <p>Mi carrito</p>
            </div>
            <shared-divider></shared-divider>
            <div
              class="menu__item"
              (keyup.enter)="openWishlist()"
              (click)="openWishlist()"
              aria-hidden="true"
            >
              <img
                width="20"
                height="20"
                src="assets/images/icons/icon-wishlist.svg"
                alt=""
              />
              <p>Lista de deseos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<shared-cart></shared-cart>
