<header>
  <section class="header-contact">
    <div class="contact-container">
      <div class="contact-container__item contact_label">
        <p>Contáctanos</p>
      </div>
      <div class="contact-container__item">
        <p>+51 999 999 999</p>
      </div>
      <div class="contact-container__item">
        <p>example@example.com</p>
      </div>
    </div>
    <div class="anchor-container">
      <div class="anchor-container__item">
        <a href="#">Blog</a>
      </div>
      <div class="anchor-container__item">
        <a href="#">Acerca de</a>
      </div>
    </div>
  </section>
  <shared-divider></shared-divider>
  <section class="header-main">
    <div class="logo-container">
      <img src="assets/images/logo.svg" alt="Logo" />
    </div>
    <div class="search-component">
      <shared-search-box></shared-search-box>
    </div>
    <div class="actions-container">
      <div class="user-container">
        <button class="btn-menu-header user-icon">
          <img src="assets/images/icons/icon-user.svg" alt="User icon" />
        </button>
        <shared-menu class="shared-menu" [itemsMenu]="userMenu"></shared-menu>
      </div>
      <div class="cart-container">
        <button class="btn-menu-header cart-icon">
          <img src="assets/images/icons/icon-cart.svg" alt="Cart icon" />
        </button>
        <shared-menu class="shared-menu" [itemsMenu]="cartMenu"></shared-menu>
      </div>
    </div>
  </section>
</header>
<shared-cart></shared-cart>
