<article class="card-container">
  <div class="card-image-container">
    <img
      class="img-product"
      [src]="productWithCart | productImage"
      [alt]="productWithCart.title"
    />
  </div>
  <div class="card-content-container">
    <h2 class="title">{{ productWithCart.title }}</h2>
    <p class="description">
      {{ productWithCart.description | slice: 0 : 50 }}...
    </p>
  </div>
  <div class="card-price-container">
    <div class="price-group">
      <p class="price">{{ productWithCart.price | currency }}</p>
      <p class="undiscounted-price">15.48</p>
    </div>
    <div class="card-actions-container">
      <button
        class="favorite-inline"
        [ngClass]="{ active: productWithCart.inCart }"
        (click)="addCart()"
        (keypress.enter)="addCart()"
        aria-hidden="true"
      >
        <img [src]="addCartIcon" alt="icon add cart" />
      </button>
      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
</article>
