<section class="container-section register-section">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <!-- Section Form 1  -->
    <fieldset class="form__item">
      <div class="form-group">
        <legend>
          <h2 class="heading2">Inicio de sesión</h2>
          <small class="info-subtitle"
            >Por favor, inicia sesión para continuar</small
          >
        </legend>
      </div>

      <!-- Two Input group -->
      <div class="form-control__item">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" formControlName="email" />
      </div>
      <div class="form-control__item">
        <label for="password">Contraseña</label>
        <input
          type="password"
          name="password"
          id="password"
          formControlName="password"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">INICIAR SESIÓN</button>
      </div>
    </fieldset>
  </form>
  <aside class="login-aside"></aside>
</section>
