<div class="menu">
  <ng-container *ngFor="let item of itemsMenu">
    <div
      class="menu__item"
      [routerLink]="item.link ? item.link : null"
      routerLinkActive="router-link-active"
      (click)="item.name === 'Mi carrito' ? openCart() : null"
      (keyup.enter)="item.name === 'Mi carrito' ? openWishlist() : null"
      aria-hidden="true"
    >
      <img width="20" height="20" [src]="item.icon" alt="" />
      <p>{{ item.name }}</p>
    </div>
    <shared-divider></shared-divider>
  </ng-container>
</div>
