@import url('assets/styles/roots.scss');
@import url('assets/styles/buttons.scss');
@import url('assets/styles/actives.scss');
@import url('assets/styles/forms.scss');
@import url('assets/fonts/fonts.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: var(--c-1-h);
  font-family: var(--f-f2);
}

.container-section {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0rem 45px;
  background: var(--c-1-g);
}

.container-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}

/* Separations */
.separation-whitout-padding {
  padding: 2rem 0;
}
.separation-section {
  padding: 4rem 45px;
}

/* Titles */
.section-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--c-1-a);
  font-family: var(--f-f2);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;

  h2 {
    font-weight: bold;
    color: var(--c-1-a);
    font-family: var(--f-f2);
  }

  h3 {
    font-weight: bold;
    color: var(--c-1-a);
    font-family: var(--f-f2);
  }

  p a {
    color: var(--c-2-a);
    font-weight: 600;
    font-size: 1rem;

    &:hover {
      color: var(--c-2-b);
    }
  }
}
