:root {
  /* Color1 */
  --c-1-a: #151515;
  --c-1-b: #575757;
  --c-1-c: #a9a9a9;
  --c-1-d: #d1d1d1;
  --c-1-e: #ebebeb;
  --c-1-f: #f5f5f5;
  --c-1-g: #ffffff;
  --c-1-h: #f9f9f9;
  /* Color2 */
  --c-2-a: #6a983c;
  --c-2-b: #46760a;
  --c-2-c: #92c064;
  --c-2-d: #c8deb3;
  --c-2-e: #f4f8ec;
  /* Color3 */
  --c-3-a: #d0a866;
  --c-3-b: #b28a48;
  --c-3-c: #ecd2a6;
  --c-3-d: #faedd8;
  --c-3-e: #fff9f0;
  /* Color4 */
  --c-4-a: #e5704b;
  --c-4-b: #c7522d;
  --c-4-c: #eb8d70;
  --c-4-d: #f7c6b7;
  --c-4-e: #fff1ed;
  /* Color5 */
  --c-5-a: #37d0d6;
  --c-5-b: #19b2b8;
  --c-5-c: #7cd0d3;
  --c-5-d: #b9e6e8;
  --c-5-e: #ecf6f6;
  /* Fonts */
  --f-f1: 'Open Sans', sans-serif;
  --f-f2: Poppins, sans-serif;
}
